@import "tailwindcss";


@theme {
  /* --breakpoint-*: initial; */
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-mdmin: 424px;
  --breakpoint-lg: 1024px;
  --breakpoint-lgmin: 769px;
  --breakpoint-tv: 1100px;
}

body {
    font-family: "Space Grotesk", sans-serif;
}

@keyframes example {
    from {background-color: #F2F0FF;}
    to {background-color: #836BFC;}
}

.active {
    background: #836BFC;
    color: white;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    animation: example;
    animation-duration: 0.4s;
}




